/* Default styles */
TABLE, TR, TD { 
	font: 10px Verdana; color:#000000;
	}

BODY { 
	font: 10px Verdana; color:#000000;
	scrollbar-face-color: #EEEEEE;
	scrollbar-shadow-color: #999999; 
	scrollbar-highlight-color: #999999; 
	scrollbar-3dlight-color: #EEEEEE; 
	scrollbar-darkshadow-color: #EEEEEE; 
	scrollbar-track-color: #EEEEEE; 
	scrollbar-arrow-color: #666666;
	} 

.forminput {
	BACKGROUND-COLOR: #EEEEEE; 
	border:1px #000000 solid; 
	COLOR: #000000; 
	FONT-FAMILY: verdana; 
	FONT-SIZE: 10px; 
	}

.adforminput {
	BACKGROUND-COLOR: #EEEEEE; 
	border:1px #000000 solid; 
	COLOR: #000000; 
	FONT-FAMILY: verdana; 
	FONT-SIZE: 10px; 
	width:95%;
	}
	
a:link, a:visited, a:active { 
	text-decoration:none; 
	color:#FF0000;
	}
	
a:hover { 
	color:#000000; 
	text-decoration:underline; 
	}

#maintable, #post_table {
	font: 10px Verdana; color:#666666;
	}

#poster {
	background-color:#D1D1D1;
	font-weight:bold;
	}

#shout {
	background-color:#eeeeee;
	}

#date {
	background-color:#eeeeee;
	}

#form {
	background-color:#eeeeee;
	}

#click_smilies {
	background-color:#D1D1D1;
	}

#miscbgcolor1 {
	background-color:#D1D1D1;
	}

#miscbgcolor2 { 
	background-color:#DCDCDC;
	}

#highlight {
	font: 10px Verdana; color:#FF0000;
	font-weight:bold;
	}

#small {
	font-size:9px;
	}